* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}
a {
    text-decoration: none;
    color: inherit;
}


h1, h2, h3, h4, h5, h6, p  {
    margin-top: 0;
    font-family: 'Inter';
    font-style: normal
}

.container {
    max-width: 1280px;
    margin: 0 80px;
    padding: 0 0;
}